<div class="app-body">
  <div class="sidebar content-sidebar">
    <nav class="sidebar-nav content-sidebar-nav" style="background-color:#2D3840;">
      <ul class="nav contnet-nav">
        <li class="nav-title">
          <h5 style="float:left;color:#EBE9EB;">Courses</h5>
          <!-- <span style="float:right;color:#00A9B6;text-transform:none;">Create New Course</span> -->
          <div style="padding-top:10px;">
        
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div class="col-sm-12">
            <input class="form-control" type="text" name="title" [(ngModel)]="filter_name" placeholder="Enter course name">
          </div>
        </li>
        <li class="divider"></li>
        <li routerLinkActive="active" class="nav-title" *ngFor="let course of courses | filter:['name', filter_name]">
          <span [routerLink]="[course.id]" (click)="courseSelected()" style="float:left;color:#EBE9EB; cursor:pointer; text-transform: none; font-weight:100; font-size:14px">{{course.name}}&nbsp;
          </span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid">
    <main class="main content-main" *ngIf="!isCourseSelected" style="background-color:white; height:95vh;">
      <div class="container-fluid text-center" style="padding-top: 260px;">
        <h1>
          Select a course from the list!
        </h1>
      </div>
    </main>
    <router-outlet></router-outlet>
  </div>
  <!-- Main content -->
</div>

